{% extends 'index.html' %}
{% block content %}
<main class="main">
    <header class="header">
        <h2>Clientes</h2>
        <a href="{% url 'nuevo_cliente' %}">➕ Nuevo Cliente</a>

        {% for m in messages %}
            {% if m.tags != 'success' %}
            <div class="bg-red-50 border-l-4 border-red-500 p-4 rounded-r-lg">
                <div class="flex items-center">
                    <span class="text-red-500 mr-2">⚠️</span>
                    <p class="text-red-700 font-medium">{{ m }}</p>
                </div>
            </div>
            {% elif m.tags == 'success' %}
            <div class="bg-green-50 border-l-4 border-green-500 p-4 rounded-r-lg">
                <div class="flex items-center">
                    <span class="text-green-500 mr-2">✅</span>
                    <p class="text-green-700 font-medium">{{ m }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </header>

    <table border="1" class="tabla-platos">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre / Razón Social</th>
                <th>DNI</th>
                <th>RUC</th>
                <th>Tipo</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if cliente.tipo_cliente == 'persona' %}
                        {{ cliente.nombres }} {{ cliente.apellidos }}
                    {% else %}
                        {{ cliente.razon_social }}
                    {% endif %}
                </td>
                <td>{{ cliente.dni|default:"-" }}</td>
                <td>{{ cliente.ruc|default:"-" }}</td>
                <td>{{ cliente.tipo_cliente|title }}</td>
                <td>{{ cliente.telefono|default:"-" }}</td>
                <td>{{ cliente.estado}}</td>
                <td  style="white-space: nowrap;">
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn-consultar">Editar</a>
                    <a href="{% url 'desactivar_cliente' cliente.id %}" class="btn-consultar" onclick="return confirm('¿Seguro que desactivar este cliente?');">🚫</a>                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay clientes registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}

