{% extends 'index.html' %}
{% block content %}
<main class="main">
    <header class="header">
        <h2>Mesas</h2>
        <a href="{% url 'nueva_mesa' %}">➕ Nueva Mesa</a>
        {% for m in messages %} {% if m.tag != 'success' %}
            <div class="bg-red-50 border-l-4 border-red-500 p-4 rounded-r-lg">
              <div class="flex items-center">
                <span class="text-red-500 mr-2">⚠️</span>
                <p class="text-red-700 font-medium">{{ m }}</p>
              </div>
            </div>
            {% elif m.tag == 'success' %}
            <div
              class="bg-green-50 border-l-4 border-green-500 p-4 rounded-r-lg"
            >
              <div class="flex items-center">
                <span class="text-green-500 mr-2">✅</span>
                <p class="text-green-700 font-medium">{{ m }}</p>
              </div>
            </div>
        {% endif %} {% endfor %}
    </header>
    <table border="1" class="tabla-platos">
        <thead>
            <tr>
                <th>#</th>
                <th>Capacidad</th>
                <th>Ubicacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mesa in mesas %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ mesa.capacidad }}</td>
                <td>{{ mesa.ubicacion }}</td>
                <td>
                  <a href="{% url 'editar_mesa' mesa.id %}" class="btn-consultar">Editar</a>
                  <a href="{% url 'eliminar_mesa' mesa.id %}" class="btn-consultar" onclick="return confirm('¿Seguro que deseas eliminar esta mesa?');">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay mesas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
